html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}


body {
    font-family: Arial, sans-serif;  
    line-height: 1.6;  
    color: #333;
}

header {
    padding: 20px;
    text-align: center;
    background: #f1c891;
}

nav a {
    margin-right: 15px;
    color: #333;
    text-decoration: underline;
    
}

section {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #ebb774;
}

.project {
    background-color: #dac7b5; 
    margin-bottom: 20px; /* Reminder to use this for spacing project entries */
    border-radius: 10px; /* Use if corners need to be rounded out */
    padding: 10px;
}

.project h3 {
    margin-top: 20px; 
    text-align: left;
}

.project p {
    margin-top: 10px;  
    padding: 5px;   
    text-align: left;  
    width: 50%;
}


img:hover {
    filter: contrast(200%);
    filter: hue-rotate(90deg);
  }

/* Responsive design rules */
@media (min-width: 600px) {
    /* Styles for screens that are 600px or larger */
}

@media (min-width: 960px) {
    /* Styles for screens that are 960px or larger */
}
