html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}


body {
    font-family: Arial, sans-serif;  
    line-height: 1.6;  
    color: #333;
}

header {
    padding: 20px;
    text-align: center;
    background: #f1c891;
}

nav a {
    margin-right: 15px;
    color: #333;
    text-decoration: underline;
    
}

section {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #ebb774;
}


.about p{
    background-color: #ecc5a1;
    border-radius: 10px;
    font-weight: 550;
    margin: 30px auto 0px; /* top, horizontal, bottom */
    padding: 20px;
    line-height: 1.5;   
    text-align: center;
    width: 70%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.work-header {
    background-color: #ecc5a1;
    border-radius: 10px;
    padding: 10px;
    margin: -40px auto 20px 0; /* Tried changing margin for different element values  and resorted to -40px as last option for desired result. */
    text-align: center;
    width: 20%; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    filter: contrast(200%);
    filter: hue-rotate(90deg);
}

.project {
    background-color: #dac7b5; 
    margin-bottom: 20px; /* Reminder to use this for spacing project entries */
    border-radius: 10px; /* Use if corners need to be rounded out */
    padding: 10px;
}

.project h3 {
    margin-top: 1px; 
    text-align: left;
}

.project p {
    margin-top: 0px;  
    padding: 1px;   
    text-align: left;  
    width: 50%;
}

/* Responsive design rules */
@media (min-width: 600px) {
    .about p {
        width: 70%;  /* narrower on larger screens */
    }
}

@media (min-width: 960px) {
    /* Styles for screens that are 960px or larger */
}